
table{
     font-family : Helvetica, sans-serif;
    border-collapse: collapse;
      border-width   : 1px;
      border-style   : solid;
      border-color   : red;
}


    

th{ font font-weight: 1000;
    background-color: red;
    color           : #ffffff;
    
    
}